{% extends "base.html" %}

{% block title %}{{ t_error }} - {{ site_domain }}{% endblock %}

{% block head_meta %}
  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block head_preconnect %}
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
{% endblock %}

{% block head_stylesheets %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">
{% endblock %}

{% block head_extra %}
  <script>alert("{{ error_message }}");</script>
{% endblock %}

{% block content %}
    {% let autofocus = true %}
    {% include "_search_form.html" %}

    <div class="error-banner" role="alert">
      <p>{{ error_message }}</p>
    </div>
{% endblock %}

{% block scripts %}
  <script src="/static/script.js?v={{ js_version }}" defer></script>
{% endblock %}

{% block footer %}
  <footer class="site-footer">
    <div class="footer-inner">
      <div class="footer-left">
        {% include "_footer.html" %}
      </div>
      <div class="footer-right">
        {% include "_footer_lang.html" %}
      </div>
    </div>
  </footer>
{% endblock %}
